#samsung-widget-iframe-cont #widget-button {
  display: block!important;
  position: fixed;
  z-index: 999999;
  cursor: pointer;
  opacity: 1;
  border: none;
  overflow: hidden;
  right: 32px;
  bottom: 94px;
  display: none;
}

#samsung-widget-iframe-cont .widget-button-img {
  background-image: url("../images/messager.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  background-position: center;
}

@media only screen and (max-width: 600px) {
  #samsung-widget-iframe-cont .widget-button-img {
    width: 80px;
    height: 80px;
  }
}