.ex-slide-show-container{
	position:relative;
	max-width:1440px;
	margin:0 auto
	}
.ex-slide-show-container *{
	-webkit-box-sizing:border-box;
	box-sizing:border-box
	}
.ex-slide-show-container__wrap{
	position:relative;
	z-index:2
	}
.ex-slide-show-container__wrap:before,.ex-slide-show-container__wrap:after{
	content:"";
	display:block;
	clear:both
	}
.layer-opened-mo .ex-slide-show-container__wrap{
	z-index:auto
	}
.ex-slide-show-container__content{
	width:960px;
	width:66.66667vw;
	margin:0 auto;
	text-align:center
	}
@media(min-width:1440px){
	.ex-slide-show-container__content{
	width:960px
	}

	}
.ex-slide-show-container__headline .s-font-sharpsans{
	padding-top:11px;
	padding-top:.76389vw
	}
@media(min-width:1440px){
	.ex-slide-show-container__headline .s-font-sharpsans{
	padding-top:11px
	}

	}
.ex-slide-show-container__description{
	padding-top:28px;
	padding-top:1.94444vw;
	font-size:18px;
	font-size:1.25vw;
	line-height:1.6
	}
@media(min-width:1440px){
	.ex-slide-show-container__description{
	padding-top:28px
	}

	}
@media(min-width:1440px){
	.ex-slide-show-container__description{
	font-size:18px
	}

	}
.ex-slide-show-container__inner{
	position:relative;
	width:1440px;
	width:100vw
	}
.ex-slide-show-container__inner.s-slick .slick-list{
	position:relative;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0
	}
.ex-slide-show-container__inner.s-slick .slick-list .slick-track{
	position:relative;
	top:0;
	left:0;
	display:block
	}
.ex-slide-show-container__inner.s-slick .slick-list .slick-track:before,.ex-slide-show-container__inner.s-slick .slick-list .slick-track:after{
	display:table;
	content:''
	}
@media(min-width:1440px){
	.ex-slide-show-container__inner{
	width:1440px
	}

	}
.ex-slide-show-container__inner.s-slick .slick-track{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	-js-display:flex;
	display:flex;
	height:680px;
	height:47.22222vw;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
	}
@media(min-width:1440px){
	.ex-slide-show-container__inner.s-slick .slick-track{
	height:680px
	}

	}
.ex-slide-show-container__inner.s-slick .slick-slide{
	float:none;
	height:auto
	}
.ex-slide-show-container__inner.s-slick .slick-slide img{
	height:100%
	}
.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow{
	width:80px;
	width:5.55556vw;
	height:80px;
	height:5.55556vw;
	opacity:1
	}
@media(min-width:1440px){
	.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow{
	width:80px
	}

	}
@media(min-width:1440px){
	.ex-slide-show-containerex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow{
	height:80px
	}

	}
.ex-slide-show-container__indicator{
	display:none
	}
.ex-slide-show-container .s-video-area iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
	}
.ex-slide-show-container .s-video-area .s-video,.ex-slide-show-container .s-video-area video{
	display:block;
	width:100%;
	height:100%
	}
.ex-slide-show-container .s-video-area .s-video{
	background:#000
	}
.ex-slide-show-container .s-video-area .s-media-close{
	padding:15px;
	padding:1.04167vw;
	margin:-15px;
	margin:-1.04167vw;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	background:0
	}
@media(min-width:1440px){
	.ex-slide-show-container .s-video-area .s-media-close{
	padding:15px
	}

	}
@media(min-width:1440px){
	.ex-slide-show-container .s-video-area .s-media-close{
	margin:-15px
	}

	}
.ex-slide-show-container .s-video-area .s-media-close:before{
	content:'';
	display:block;
	height:28px;
	width:28px;
	background-size:100% 100%;
	background-repeat:no-repeat
	}
.ex-slide-show-container .s-video-area.s-video-youtube .s-media-close{
	top:72px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms;
	-webkit-transition-property:top;
	transition-property:top;
	-webkit-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out
	}
.ex-slide-show-container .s-video-area.s-video-youtube.s-youtube-ready .s-media-close{
	top:30px
	}
@media(min-width:769px){
	.ex-slide-show-container .s-video-area.s-video-youtube.s-youtube-ready:hover .s-media-close{
	top:72px
	}

	}
.ex-slide-show-container .s-video-area.s-video-layer.s-video-area{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	max-height:none;
	height:100%;
	z-index:999996
	}
.ex-slide-show-container .s-video-area.s-video-layer .s-video-wrap{
	width:1440px;
	width:100vw;
	max-width:100%;
	height:810px;
	height:56.25vw;
	margin:auto
	}
@media(min-width:1440px){
	.ex-slide-show-container .s-video-area.s-video-layer .s-video-wrap{
	width:1440px
	}

	}
@media(min-width:1440px){
	.ex-slide-show-container .s-video-area.s-video-layer .s-video-wrap{
	height:810px
	}

	}
@media screen and (orientation:landscape) and (max-height:810px){
	.ex-slide-show-container .s-video-area.s-video-layer .s-video-wrap{
	height:auto
	}

	}
.Internet-Explorer .ex-slide-show-container--card-item-style-angulate .ex-items-slide-card__figure-container{
	-webkit-border-radius:.1px;
	border-radius:.1px
	}
.mac .ex-slide-show-container--card-item-style-round .ex-items-slide-card__figure-container{
	z-index:0
	}
.ex-slide-show-container.s-slick-none .ex-items-slide-card__paging{
	display:none
	}
.ex-slide-show-container.s-bg-black .ex-slide-show-container__wrap{
	color:#fff
	}
.ex-slide-show-container.s-bg-black .ex-items-slide-card__content-info a{
	color:#fff
	}
.ex-slide-show-container.s-bg-black .ex-items-slide-card__content-caption{
	color:#aeaeae
	}
.ex-items-slide-card{
	position:relative;
	margin:0 10px;
	margin:0vw .69444vw
	}
@media(min-width:1440px){
	.ex-items-slide-card{
	margin:0 10px
	}

	}
.ex-items-slide-card__figure-container{
	display:block;
	position:relative;
	margin:0 auto;
	text-align:center;
	overflow:hidden
	}
.ex-items-slide-card__thumbnail{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	z-index:2
	}
.ex-items-slide-card__thumbnail:before{
	border-radius:20px;
	 display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:#000;
	opacity:.5;
	-webkit-transition:opacity 350ms;
	transition:opacity 350ms;
	content:""
	}
.slick-current .ex-items-slide-card__thumbnail{
	display:none
	}
.ex-items-slide-card__togo{
	display:none;
	opacity:.01;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:3;
	background:rgba(0,0,0,0.7);
	-webkit-transition:opacity .4s;
	transition:opacity .4s
	}
.ex-items-slide-card__togo:after{
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:79px;
	width:5.48611vw;
	height:79px;
	height:5.48611vw;
	margin:auto;
	background:url("../../../../../../../../../etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/images/btn-more-view-pc.png") no-repeat;
	background-size:100%;
	-webkit-transition:opacity .4s;
	transition:opacity .4s;
	content:''
	}
@media(min-width:1440px){
	.ex-items-slide-card__togo:after{
	width:79px
	}

	}
@media(min-width:1440px){
	.ex-items-slide-card__togo:after{
	height:79px
	}

	}
.ex-items-slide-card__togo:active,.ex-items-slide-card__togo:active:after,.ex-items-slide-card__togo:focus,.ex-items-slide-card__togo:focus:after,.ex-items-slide-card__togo:hover,.ex-items-slide-card__togo:hover:after{
	opacity:1
	}
.js-hover-ready .slick-current .ex-items-slide-card__togo{
	display:block
	}
.ex-items-slide-card .s-btn-play-hub{
	display:none
	}
.ex-items-slide-card.slick-current .s-btn-play-hub{
	display:block
	}
.ex-items-slide-card__figure{
	position:relative;
	width:360px;
	width:25vw;
	height:360px;
	height:25vw
	}
@media(min-width:1440px){
	.ex-items-slide-card__figure{
	width:360px
	}

	}
@media(min-width:1440px){
	.ex-items-slide-card__figure{
	height:360px
	}

	}
.ex-items-slide-card__figure .picture{
	display:block;
	width:100%;
	height:100%;
	-webkit-transition:-webkit-transform .3s ease-out;
	transition:-webkit-transform .3s ease-out;
	transition:transform .3s ease-out;
	transition:transform .3s ease-out,-webkit-transform .3s ease-out
	}
.ex-items-slide-card__figure img{
	display:block;
	width:100%;
	height:100%
	}
.is-embeded-playing .ex-items-slide-card__figure img{
	opacity:0
	}
.ex-items-slide-card__content-info{
	position:relative;
	min-height:19px;
	min-height:1.31944vw;
	margin:16px auto 0;
	font-size:12px;
	font-size:.83333vw;
	line-height:1.33;
	text-align:right
	}
@media(min-width:1440px){
	.ex-items-slide-card__content-info{
	min-height:19px
	}

	}
@media(min-width:1440px){
	.ex-items-slide-card__content-info{
	margin:10px auto 0
	}

	}
@media(min-width:1440px){
	.ex-items-slide-card__content-info{
	font-size:12px
	}

	}
.ex-items-slide-card__content-info a{
	display:inline-block;
	font-weight:bold;
	color:#000;
	position:relative
	}
.ex-items-slide-card__content-info p{
	display:none;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
	}
.ex-items-slide-card__content-caption{
	color:#767676
	}
.ex-items-slide-card__desc-detail-wrap{
	display:block;
	width:735px;
	width:51.04167vw;
	margin:0 auto;
	padding-top:56px;
	padding-top:3.88888889vw
	}
.ex-items-slide-card__desc-detail-wrap .s-slick .slick-list{
	position:relative;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0
	}
.ex-items-slide-card__desc-detail-wrap .s-slick .slick-list .slick-track{
	position:relative;
	top:0;
	left:0;
	display:block
	}
.ex-items-slide-card__desc-detail-wrap .s-slick .slick-slide{
	display:none;
	float:left;
	height:100%;
	min-height:1px;
	vertical-align:top
	}
.ex-items-slide-card__desc-detail-wrap .s-slick.slick-initialized .slick-slide{
	display:block
	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-wrap{
	width:735px
	}

	}
.slick-slide .ex-items-slide-card__desc-detail-wrap.s-for-editmode{
	display:none;
	text-align:center;
	position:relative;
	margin-top:25px
	}
.ex-items-slide-card__desc-detail-list{
	padding-top:24px;
	padding-top:1.66666667vw;
	text-align:center
	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-list{
	padding-top:24px
	}

	}
.ex-items-slide-card__desc-detail-list-title{
	padding-bottom:48px;
	padding-bottom:3.33333333vw
	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-list-title{
	padding-bottom:48px
	}

	}
.ex-items-slide-card__desc-detail-list.s-transition-target.s-text-move .ex-items-slide-card__desc-detail-list-title{
	-webkit-transition-delay:.2s;
	transition-delay:.2s
	}
.ex-items-slide-card__desc-detail-list.s-transition-target.s-text-move .ex-items-slide-card__desc-detail-list-content{
	-webkit-transition-delay:.4s;
	transition-delay:.4s
	}
.ex-items-slide-card__desc-detail-list.slick-current{
	z-index:1
	}
.ex-items-slide-card__desc-detail-list-content{
	font-size:18px;
	font-size:1.25vw;
	line-height:1.6
	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-list-content{
	font-size:38px;
	 font-weight: bold;
	
	}

	}
.ex-items-slide-card__desc-detail-list-content a{
	display:inline-block;
	color:inherit;
	font-weight:bold
	}
.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	display:inline-block;
	margin:-2px 0 0;
	margin:-0.13889vw 0vw 0vw;
	margin-left:7px;
	margin-left:.48611vw;
	vertical-align:middle;
	content:'';
	width:14px;
	width:.97222vw;
	height:14px;
	height:.97222vw
	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	margin:-2px 0 0
	}

	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	margin-left:7px
	}

	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	width:14px
	}

	}
@media(min-width:1440px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	height:14px
	}

	}
.ex-items-slide-card__paging-pc{
	padding-top:13px;
	padding-top:.90278vw;
	text-align:center;
	font-family:"SamsungSharpSans",arial;
	line-height:1;
	float:left;
	position:relative;
	top:20px;
	display:none
	}
@media(min-width:1440px){
	.ex-items-slide-card__paging-pc{
	padding-top:13px;
	float:left;
	position:relative
	}

	}
.ex-items-slide-card__paging-pc-num{
	font-size:48px;
	font-size:3.33333vw
	}
@media(min-width:1440px){
	.ex-items-slide-card__paging-pc-num{
	font-size:48px
	}

	}
.ex-items-slide-card__paging-pc-total{
	font-size:48px;
	font-size:3.33333vw
	}
@media(min-width:1440px){
	.ex-items-slide-card__paging-pc-total{
	font-size:48px
	}

	}
.ex-items-slide-card__paging-pc-total:before{
	display:inline;
	content:'/ ';
	margin-right:-10px;
	margin-right:-0.69444vw
	}
@media(min-width:1440px){
	.ex-items-slide-card__paging-pc-total:before{
	margin-right:-10px
	}

	}
.ex-slide-show-container--item-length-1 .ex-items-slide-card__paging-pc{
	display:none
	}
.ex-items-slide-card__paging-mo{
	font-family:"SamsungSharpSans",arial;
	display:none
	}
.ex-items-slide-card--image-portrait .ex-items-slide-card__figure img,.ex-items-slide-card--image-square .ex-items-slide-card__figure img,.ex-items-slide-card--image-landscape .ex-items-slide-card__figure img{
	object-fit:cover;
	width:100%;
	height:100%
	}
.ex-items-slide-card--image-portrait .ex-items-slide-card__figure img.js-object-fit,.ex-items-slide-card--image-square .ex-items-slide-card__figure img.js-object-fit,.ex-items-slide-card--image-landscape .ex-items-slide-card__figure img.js-object-fit{
	background-repeat:no-repeat;
	background-position:center
	}
.Internet-Explorer .ex-items-slide-card--image-portrait .ex-items-slide-card__figure img.js-object-fit,.Internet-Explorer .ex-items-slide-card--image-square .ex-items-slide-card__figure img.js-object-fit,.Internet-Explorer .ex-items-slide-card--image-landscape .ex-items-slide-card__figure img.js-object-fit{
	color:rgba(1,1,1,0)
	}
.ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:250px;
	width:17.36111vw
	}
@media(min-width:1440px){
	.ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:250px
	}

	}
.ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:490px;
	width:34.02778vw
	}
@media(min-width:1440px){
	.ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:490px
	}

	}
.ex-items-slide-card.slick-active--after{
	margin:0 25px;
	margin:0vw 1.73611vw
	}
@media(min-width:1440px){
	.ex-items-slide-card.slick-active--after{
	margin:0 25px
	}

	}
.slick-active--after .ex-items-slide-card__figure{
	width:554px;
	width:38.47222vw;
	height:554px;
	height:38.47222vw;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out
	}
@media(min-width:1440px){
	.slick-active--after .ex-items-slide-card__figure{
	width:554px
	}

	}
@media(min-width:1440px){
	.slick-active--after .ex-items-slide-card__figure{
	height:554px
	}

	}
.slick-current .ex-items-slide-card__content-info p{
	display:inline-block
	}
.slick-current .ex-items-slide-card--image-square .ex-items-slide-card__figure{
	width:554px;
	width:38.47222vw
	}
@media(min-width:1440px){
	.slick-current .ex-items-slide-card--image-square .ex-items-slide-card__figure{
	width:554px
	}

	}
.slick-current .ex-items-slide-card--image-square+.ex-items-slide-card__content-info{
	width:554px;
	width:38.47222vw
	}
@media(min-width:1440px){
	.slick-current .ex-items-slide-card--image-square+.ex-items-slide-card__content-info{
	width:554px
	}

	}
.slick-current .ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:406px;
	width:28.19444vw
	}
@media(min-width:1440px){
	.slick-current .ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:406px
	}

	}
.slick-current .ex-items-slide-card--image-portrait+.ex-items-slide-card__content-info{
	width:406px;
	width:28.19444vw
	}
@media(min-width:1440px){
	.slick-current .ex-items-slide-card--image-portrait+.ex-items-slide-card__content-info{
	width:406px
	}

	}
.slick-current .ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:886px;
	width:61.52778vw
	}
@media(min-width:1440px){
	.slick-current .ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:886px
	}

	}
.slick-current .ex-items-slide-card--image-landscape+.ex-items-slide-card__content-info{
	width:886px;
	width:61.52778vw
	}
@media(min-width:1440px){
	.slick-current .ex-items-slide-card--image-landscape+.ex-items-slide-card__content-info{
	width:886px
	}

	}
.type-stretch .ex-slide-show-container__inner-wrap{
	position:relative;
	height:584px
	}
@media(min-width:1440px){
	.type-stretch .ex-slide-show-container__inner-wrap{
	height:584px
	}

	}
.type-stretch .ex-slide-show-container__inner.s-slick .slick-track{
	display:block;
	height:auto
	}
.type-stretch .ex-slide-show-container__inner.s-slick .slick-slide{
	float:left;
	outline:0
	}
@media screen and (min-width:769px){
	.type-stretch .ex-slide-show-container__inner.s-slick .slick-slide{
	height:584px
	}

	}
@media screen and (min-width:769px) and (min-width:1440px){
	.type-stretch .ex-slide-show-container__inner.s-slick .slick-slide{
	height:584px
	}

	}
.type-stretch .ex-items-slide-card{
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	height:584px
	}
@media(min-width:1440px){
	.type-stretch .ex-items-slide-card{
	height:584px
	}

	}
.type-stretch .ex-items-slide-card .ex-items-slide-card__figure{
	width:100%;
	height:100%
	}
.type-stretch .ex-items-slide-card__figure-container{
	position:relative;
	width:100%;
	height:360px;
	height:25vw;
	-webkit-transition:height .3s;
	transition:height .3s;
	overflow:hidden
	}
.type-stretch.ex-slide-show-container--card-item-style-angulate .ex-items-slide-card__figure-container{
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0
	}
.type-stretch.ex-slide-show-container--card-item-style-round .ex-items-slide-card__figure-container{
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px
	}
@media(min-width:1440px){
	.type-stretch .ex-items-slide-card__figure-container{
	height:360px
	}

	}
.type-stretch .ex-items-slide-card--image-square{
	width:554px;
	width:38.47222vw
	}
@media(min-width:1440px){
	.type-stretch .ex-items-slide-card--image-square{
	width:554px
	}

	}
[data-font-size-pc='48'] {
	font-size: 38px;
	
	}
.type-stretch .ex-items-slide-card--image-portrait{
	width:406px;
	width:28.19444vw
	}
@media(min-width:1440px){
	.type-stretch .ex-items-slide-card--image-portrait{
	width:406px
	}

	}
.type-stretch .ex-items-slide-card--image-landscape{
	width:886px;
	width:61.52778vw
	}
@media(min-width:1440px){
	.type-stretch .ex-items-slide-card--image-landscape{
	width:886px
	}

	}
.type-stretch .ex-items-slide-card img{
	border-radius: 20px;
	 position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:100%;
	object-fit:cover;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
	}
@media screen and (min-width:769px){
	.type-stretch .ex-items-slide-card.slick-current .ex-items-slide-card__figure-container{
	height:554px;
	height:38.47222vw
	}

	}
@media screen and (min-width:769px) and (min-width:1440px){
	.type-stretch .ex-items-slide-card.slick-current .ex-items-slide-card__figure-container{
	height:554px
	}

	}
.aem-AuthorLayer-Edit .ex-slide-show-container__inner{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	-js-display:flex;
	display:flex;
	-webkit-flex-flow:row wrap;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap
	}
.aem-AuthorLayer-Edit .ex-slide-show-container__inner>div{
	width:33%
	}
.aem-AuthorLayer-Edit .ex-slide-show-container__inner-wrap{
	height:auto
	}
.aem-AuthorLayer-Edit .ex-items-slide-card{
	height:auto;
	margin:0;
	padding:15px 10px
	}
.aem-AuthorLayer-Edit .ex-items-slide-card__thumbnail,.aem-AuthorLayer-Edit .ex-items-slide-card__togo{
	display:none
	}
.aem-AuthorLayer-Edit .ex-items-slide-card .s-btn-play-hub{
	display:block
	}
.aem-AuthorLayer-Edit .ex-items-slide-card__figure{
	position:relative;
	width:100%;
	height:0;
	padding-bottom:100%;
	background:#f7f7f7
	}
.aem-AuthorLayer-Edit .ex-items-slide-card__figure .picture{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	-webkit-transform:none !important;
	-ms-transform:none !important;
	transform:none !important
	}
.aem-AuthorLayer-Edit .ex-items-slide-card__content-info{
	width:100%;
	margin-top:10px;
	margin-top:.69444vw
	}
@media(min-width:1440px){
	.aem-AuthorLayer-Edit .ex-items-slide-card__content-info{
	margin-top:10px
	}

	}
.aem-AuthorLayer-Edit .ex-items-slide-card__content-info p{
	display:inline-block
	}
.aem-AuthorLayer-Edit .ex-items-slide-card__desc-detail-wrap.s-for-editmode{
	display:block;
	width:100%;
	margin-top:10px;
	margin-top:.69444vw;
	text-align:center
	}
@media(min-width:1440px){
	.aem-AuthorLayer-Edit .ex-items-slide-card__desc-detail-wrap.s-for-editmode{
	margin-top:10px
	}

	}
.aem-AuthorLayer-Edit .ex-items-slide-card__paging-pc{
	display:none
	}
.aem-AuthorLayer-Edit .ex-items-slide-card--image-portrait .ex-items-slide-card__figure .picture{
	width:333px;
	width:23.125vw
	}
@media(min-width:1440px){
	.aem-AuthorLayer-Edit .ex-items-slide-card--image-portrait .ex-items-slide-card__figure .picture{
	width:333px
	}

	}
.aem-AuthorLayer-Edit .ex-items-slide-card--image-landscape .ex-items-slide-card__figure .picture{
	height:284px;
	height:19.72222vw
	}
.ex-items-slide-card .hyper-link[target="_blank"]:after{
	right:3px;
	top:-6px
	}
.ex-items-slide-card .hyper-link[target="_blank"]{
	padding-right:18px
	}
@media(min-width:1440px){
	.aem-AuthorLayer-Edit .ex-items-slide-card--image-landscape .ex-items-slide-card__figure .picture{
	height:284px
	}

	}
.aem-AuthorLayer-Edit .type-stretch .ex-items-slide-card{
	height:auto;
	-webkit-box-pack:start;
	-webkit-justify-content:start;
	-ms-flex-pack:start;
	justify-content:start
	}
.aem-AuthorLayer-Edit .type-stretch .ex-items-slide-card__figure,.aem-AuthorLayer-Edit .type-stretch .ex-items-slide-card__figure-container{
	width:auto !important;
	height:auto !important
	}
.aem-AuthorLayer-Edit .type-stretch .ex-items-slide-card img{
	position:static;
	-webkit-transform:none;
	-ms-transform:none;
	transform:none
	}
@media screen and (max-width:768px){
	.ex-slide-show-container__wrap{
	max-width:720px
	}
.ex-slide-show-container__content{
	width:640px;
	width:83.33333vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__content{
	width:300px;
	width:83.33333vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container__headline .s-font-sharpsans{
	padding-top:181.33333px;
	padding-top:23.61111vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__headline .s-font-sharpsans{
	padding-top:85px;
	padding-top:23.61111vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container__description{
	padding-top:29.86667px;
	padding-top:3.88889vw;
	font-size:34.13333px;
	font-size:4.44444vw;
	line-height:1.6
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__description{
	padding-top:14px;
	padding-top:3.88889vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__description{
	font-size:16px;
	font-size:4.44444vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container__inner-wrap{
	position:relative
	}
.ex-slide-show-container__inner.s-slick .slick-track{
	height:auto
	}
.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow{
	display:none;
	background:0
	}
.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-next,.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-prev{
	display:none
	}
.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-next:after,.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-next:before,.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-prev:after,.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-prev:before{
	background:0
	}
.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-next:focus,.ex-slide-show-container__inner.s-slick.s-slick-theme--dot-bg .slick-arrow.slick-prev:focus{
	outline:0
	}
.ex-slide-show-container__indicator-wrap{
	overflow:hidden;
	width:593.06667px;
	width:77.22222vw;
	margin:0 auto;
	text-align:center
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__indicator-wrap{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__indicator-wrap{
	padding-top:12px;
	padding-top:3.33333vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container__indicator{
	display:block;
	float:left;
	width:492.8px;
	width:64.16667vw;
	height:100%;
	font-size:0
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__indicator{
	width:231px;
	width:64.16667vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__indicator{
	height:14.5px;
	height:4.02778vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container__indicator:after{
	content:'';
	display:inline-block;
	width:0;
	height:100%;
	vertical-align:middle
	}
.ex-slide-show-container__indicator-inner{
	display:inline-block;
	width:100%;
	margin-left:-8.53333px;
	margin-left:-1.11111vw;
	vertical-align:middle
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__indicator-inner{
	margin-left:-4px;
	margin-left:-1.11111vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container__indicator-list{
	float:left;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:2px;
	padding:0 4px
	}
.ex-slide-show-container__indicator-list button{
	display:block;
	width:100%;
	height:100%;
	padding:0;
	font-size:0;
	background:#ddd;
	color:transparent
	}
.s-bg-black .ex-slide-show-container__indicator-list button{
	background:#404040
	}
.ex-slide-show-container__indicator-list button:focus,.ex-slide-show-container__indicator-list button:hover{
	background:#000
	}
.s-bg-black .ex-slide-show-container__indicator-list button:focus,.s-bg-black .ex-slide-show-container__indicator-list button:hover{
	background:#fff
	}
.ex-slide-show-container__indicator-list.s-list-on{
	height:4px;
	margin-top:-1px;
	background:#000
	}
.ex-slide-show-container__indicator-list.s-list-on button{
	background:#000
	}
.s-bg-black .ex-slide-show-container__indicator-list.s-list-on button{
	background:#fff
	}
.ex-slide-show-container--item-length-2 .ex-slide-show-container__indicator-list{
	width:33.3333%
	}
.ex-slide-show-container--item-length-2 .ex-slide-show-container__indicator-list.s-list-on{
	width:66.666%
	}
.ex-slide-show-container--item-length-3 .ex-slide-show-container__indicator-list{
	width:25%
	}
.ex-slide-show-container--item-length-3 .ex-slide-show-container__indicator-list.s-list-on{
	width:50%
	}
.ex-slide-show-container--item-length-4 .ex-slide-show-container__indicator-list{
	width:20%
	}
.ex-slide-show-container--item-length-4 .ex-slide-show-container__indicator-list.s-list-on{
	width:40%
	}
.ex-slide-show-container--item-length-5 .ex-slide-show-container__indicator-list{
	width:16.6666%
	}
.ex-slide-show-container--item-length-5 .ex-slide-show-container__indicator-list.s-list-on{
	width:33.3333%
	}
.ex-slide-show-container--item-length-6 .ex-slide-show-container__indicator-list{
	width:14.2857%
	}
.ex-slide-show-container--item-length-6 .ex-slide-show-container__indicator-list.s-list-on{
	width:28.5714%
	}
.ex-slide-show-container--item-length-7 .ex-slide-show-container__indicator-list{
	width:12.5%
	}
.ex-slide-show-container--item-length-7 .ex-slide-show-container__indicator-list.s-list-on{
	width:25%
	}
.ex-slide-show-container--item-length-8 .ex-slide-show-container__indicator-list{
	width:11.1111%
	}
.ex-slide-show-container--item-length-8 .ex-slide-show-container__indicator-list.s-list-on{
	width:22.2222%
	}
.ex-slide-show-container__indicator-number{
	width:100%;
	float:left;
	position:relative;
	text-align:center
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container__indicator-number{
	width:47px;
	width:13.05556vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container .s-video-area .s-media-close{
	padding:34.13333px;
	padding:4.44444vw;
	margin:-34.13333px;
	margin:-4.44444vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container .s-video-area .s-media-close{
	padding:16px;
	padding:4.44444vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container .s-video-area .s-media-close{
	margin:-16px;
	margin:-4.44444vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container .s-video-area .s-media-close:before{
	height:25px;
	width:25px
	}
.ex-slide-show-container .s-video-area.s-video-youtube .s-media-close{
	top:50px
	}

	}
@media screen and (max-width:768px) and (orientation:landscape){
	.ex-slide-show-container .s-video-area.s-video-youtube .s-media-close{
	top:72px
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container .s-video-area.s-video-youtube.s-youtube-ready .s-media-close{
	top:34.13333px;
	top:4.44444vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-slide-show-container .s-video-area.s-video-youtube.s-youtube-ready .s-media-close{
	top:16px;
	top:4.44444vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container .s-video-area.s-video-layer .s-video-wrap{
	width:auto;
	height:0;
	margin:auto;
	padding-bottom:56.25%
	}
.ex-slide-show-container .s-video-area.s-video-layer .s-media-close{
	top:auto;
	bottom:100%;
	margin-bottom:0
	}
.ex-slide-show-container .s-video-area.s-video-layer.s-video-youtube .s-media-close{
	top:auto;
	bottom:100%;
	margin-bottom:0
	}
.ex-slide-show-container .s-video-area.s-video-layer.s-video-youtube.s-youtube-ready .s-media-close{
	top:auto
	}

	}
@media screen and (max-width:768px) and (orientation:landscape){
	.ex-slide-show-container .s-video-area.s-video-layer .s-video-wrap{
	height:auto;
	padding:0
	}
.ex-slide-show-container .s-video-area.s-video-layer .s-media-close{
	top:34.13333px;
	top:4.44444vw;
	bottom:auto
	}

	}
@media screen and (max-width:768px) and (orientation:landscape) and (max-width:360px){
	.ex-slide-show-container .s-video-area.s-video-layer .s-media-close{
	top:16px;
	top:4.44444vw
	}

	}
@media screen and (max-width:768px) and (orientation:landscape){
	.ex-slide-show-container .s-video-area.s-video-layer.s-video-youtube .s-media-close{
	top:72px;
	bottom:auto
	}
.ex-slide-show-container .s-video-area.s-video-layer.s-video-youtube.s-youtube-ready .s-media-close{
	top:34.13333px;
	top:4.44444vw
	}

	}
@media screen and (max-width:768px) and (orientation:landscape) and (max-width:360px){
	.ex-slide-show-container .s-video-area.s-video-layer.s-video-youtube.s-youtube-ready .s-media-close{
	top:16px;
	top:4.44444vw
	}

	}
@media screen and (max-width:768px){
	.ex-slide-show-container--item-length-1 .ex-slide-show-container__indicator-wrap{
	display:none
	}
.ex-slide-show-container.s-bg-black .ex-items-slide-card__paging-mo-total{
	color:white
	}
.ex-items-slide-card{
	margin:0 10.66667px;
	margin:0vw 1.38889vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card{
	margin:0 5px;
	margin:0vw 1.38889vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__togo:after{
	width:106.66667px;
	width:13.88889vw;
	height:106.66667px;
	height:13.88889vw;
	background-image:url("../../../../../../../../../etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-common/resources/images/btn-more-view-mo.png")
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__togo:after{
	width:50px;
	width:13.88889vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__togo:after{
	height:50px;
	height:13.88889vw
	}

	}
@media screen and (max-width:768px){
	.slick-current .ex-items-slide-card__togo{
	display:block
	}
.ex-items-slide-card__inner{
	width:100%
	}
.ex-items-slide-card__figure{
	width:507.73333px;
	width:66.11111vw;
	height:507.73333px;
	height:66.11111vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__figure{
	width:238px;
	width:66.11111vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__figure{
	height:238px;
	height:66.11111vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__content-info{
	min-height:auto;
	margin-top:8px;
	font-size:10px;
	font-size:2.77777778vw;
	line-height:1.33
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__content-info{
	font-size:10px;
	font-size:2.77777778vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__content-info a.s-ico-new-window:after{
	width:19.2px;
	width:2.5vw;
	height:19.2px;
	height:2.5vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__content-info a.s-ico-new-window:after{
	width:9px;
	width:2.5vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__content-info a.s-ico-new-window:after{
	height:9px;
	height:2.5vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__desc-detail-wrap{
	width:554.66667px;
	width:72.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__desc-detail-wrap{
	width:260px;
	width:72.22222vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__desc-detail-list{
	padding-top:40px
	}
.ex-items-slide-card__desc-detail-list.slick-current{
	z-index:1
	}
.ex-items-slide-card__desc-detail-list-content{
	font-size:3.33333333vw;
	line-height:1.6
	}
.ex-items-slide-card__desc-detail-list-title{
	padding-bottom:24px
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__desc-detail-list-content{
	font-size:16px;
	font-size:4.44444vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	margin:-4.26667px 0 0;
	margin:-0.55556vw 0vw 0vw;
	margin-left:10.66667px;
	margin-left:1.38889vw;
	width:23.46667px;
	width:3.05556vw;
	height:23.46667px;
	height:3.05556vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	margin:-2px 0 0;
	margin:-0.55556vw 0vw 0vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	margin-left:5px;
	margin-left:1.38889vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	width:11px;
	width:3.05556vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__desc-detail-list-content .s-text-link.s-ico-new-window:after{
	height:11px;
	height:3.05556vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__paging-pc{
	display:none
	}
.ex-items-slide-card__paging-mo{
	display:none;
	padding:0;
	text-align:center
	}
.ex-items-slide-card__paging-mo-num{
	padding-right:6.4px;
	padding-right:.83333vw;
	font-size:28px
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__paging-mo-num{
	padding-right:3px;
	padding-right:.83333vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__paging-mo-num{
	font-size:11px;
	font-size:3.05556vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__paging-mo-total{
	font-size:28px;
	color:black
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card__paging-mo-total{
	font-size:11px;
	font-size:3.05556vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card__paging-mo-total:before{
	display:inline;
	content:'/ '
	}
.ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:507.73333px;
	width:66.11111vw;
	height:746.66667px;
	height:97.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:238px;
	width:66.11111vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	height:350px;
	height:97.22222vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:507.73333px;
	width:66.11111vw;
	height:320px;
	height:41.66667vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:238px;
	width:66.11111vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	height:150px;
	height:41.66667vw
	}

	}
@media screen and (max-width:768px){
	.ex-items-slide-card.slick-active--after{
	margin:0 10.66667px;
	margin:0vw 1.38889vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.ex-items-slide-card.slick-active--after{
	margin:0 5px;
	margin:0vw 1.38889vw
	}

	}
@media screen and (max-width:768px){
	.slick-active--after .ex-items-slide-card__figure{
	width:593.06667px;
	width:77.22222vw;
	height:593.06667px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-active--after .ex-items-slide-card__figure{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-active--after .ex-items-slide-card__figure{
	height:278px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.slick-current .ex-items-slide-card--image-square .ex-items-slide-card__figure{
	width:593.06667px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-square .ex-items-slide-card__figure{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.slick-current .ex-items-slide-card--image-square+.ex-items-slide-card__content-info{
	width:593.06667px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-square+.ex-items-slide-card__content-info{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.slick-current .ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:405.33333px;
	width:52.77778vw;
	height:593.06667px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	width:190px;
	width:52.77778vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-portrait .ex-items-slide-card__figure{
	height:278px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.slick-current .ex-items-slide-card--image-portrait+.ex-items-slide-card__content-info{
	width:405.33333px;
	width:52.77778vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-portrait+.ex-items-slide-card__content-info{
	width:190px;
	width:52.77778vw
	}

	}
@media screen and (max-width:768px){
	.slick-current .ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:593.06667px;
	width:77.22222vw;
	height:405.33333px;
	height:52.77778vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-landscape .ex-items-slide-card__figure{
	height:190px;
	height:52.77778vw
	}

	}
@media screen and (max-width:768px){
	.slick-current .ex-items-slide-card--image-landscape+.ex-items-slide-card__content-info{
	width:593.06667px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.slick-current .ex-items-slide-card--image-landscape+.ex-items-slide-card__content-info{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.type-stretch .ex-slide-show-container__inner-wrap{
	height:auto
	}
.type-stretch .ex-slide-show-container__inner.s-slick{
	overflow:hidden;
	height:832px;
	height:108.33333vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-slide-show-container__inner.s-slick{
	height:390px;
	height:108.33333vw
	}

	}
@media screen and (max-width:768px){
	.type-stretch .ex-slide-show-container__inner.s-slick .slick-track{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	-js-display:flex;
	display:flex;
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start
	}
.type-stretch .ex-slide-show-container__inner.s-slick.slick-initialized{
	overflow:visible;
	height:auto
	}
.type-stretch .ex-items-slide-card{
	height:auto;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-ms-grid-row-align:center;
	align-items:center;
	display:block
	}
.type-stretch .ex-items-slide-card:before{
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	max-width:100%;
	height:0;
	margin-right:-100%;
	content:''
	}
.type-stretch .s-has-square .ex-items-slide-card:before,.type-stretch .s-has-portrait .ex-items-slide-card:before{
	min-height:593.06667px;
	min-height:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .s-has-square .ex-items-slide-card:before,.type-stretch .s-has-portrait .ex-items-slide-card:before{
	min-height:278px;
	min-height:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.type-stretch .ex-items-slide-card__inner{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	-js-display:flex;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center
	}
.type-stretch .ex-items-slide-card__figure-container{
	height:832px;
	height:108.33333vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-items-slide-card__figure-container{
	height:390px;
	height:108.33333vw
	}

	}
@media screen and (max-width:768px){
	.type-stretch .ex-items-slide-card--image-square{
	width:593.06667px;
	width:77.22222vw;
	height:593.06667px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-items-slide-card--image-square{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-items-slide-card--image-square{
	height:278px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.type-stretch .ex-items-slide-card--image-portrait{
	width:405.33333px;
	width:52.77778vw;
	height:593.06667px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-items-slide-card--image-portrait{
	width:190px;
	width:52.77778vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-items-slide-card--image-portrait{
	height:278px;
	height:77.22222vw
	}

	}
@media screen and (max-width:768px){
	.type-stretch .ex-items-slide-card--image-landscape{
	width:593.06667px;
	width:77.22222vw;
	height:405.33333px;
	height:52.77778vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-items-slide-card--image-landscape{
	width:278px;
	width:77.22222vw
	}

	}
@media screen and (max-width:768px) and (max-width:360px){
	.type-stretch .ex-items-slide-card--image-landscape{
	height:190px;
	height:52.77778vw
	}

	}
ul.slick-dots{
	width:100%;
	position:relative;
	height:18px;
	text-align:center;
	margin:6px auto auto;
	display:flex;
	align-items:center;
	justify-content:center;
	background:transparent;
	border-radius:25px
	}
ul.slick-dots li{
	width:10px;
	height:10px;
	border-radius:25px;
	background:#ccc;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	cursor:pointer
	}
ul.slick-dots li.slick-active{
	background-color:#666
	}
ul.slick-dots li button{
	text-indent:-9999999px
	}
@media screen and (max-width:768px){
	.ex-items-slide-card.slick-slide{
	display:none
	}
.ex-items-slide-card.slick-slide.slick-current{
	display:block
	}
.slick-list{
	overflow-x:hidden
	}
ul.slick-dots{
	margin-top:22px;
	padding:0
	}

	}
body{
	overflow-x:hidden
	}
.ex-slide-show-container__btn-video-start{
	position:absolute;
	display:inline-block;
	right:11px !important;
	top:12px !important;
	width:24px;
	height:24px;
	font-size:0;
	outline:0;
	z-index:9
	}
.ex-slide-show-container__btn-video-start svg{
	width:24px;
	height:24px
	}
.ex-slide-show-container__btn-video-start svg circle{
	fill-opacity:.35;
	stroke-opacity:.15;
	transition:fill-opacity .2s cubic-bezier(0.4,0,0.2,1),stroke-opacity .2s cubic-bezier(0.4,0,0.2,1)
	}
.ex-slide-show-container__btn-video-start svg path:last-of-type{
	fill:#fff;
	fill-opacity:1;
	transition:fill-opacity .2s cubic-bezier(0.4,0,0.2,1)
	}
.ex-slide-show-container__btn-video-start:hover svg circle{
	fill-opacity:.65;
	stroke-opacity:.3
	}
.ex-slide-show-container__btn-video-start:hover svg path:last-of-type{
	fill-opacity:.85
	}
.ex-slide-show-container__slide-inner:hover .responsive-img{
	transform:scale(1.1)
	}
.ex-slide-show-container .indicator{
	display:none
	}
.ex-slide-show-container__layer-wrap{
	display:none
	}
.ex-slide-show-container__layer-wrap iframe{
	height:85% !important
	}
.ex-slide-show-container__layer-wrap .video-player{
	height:85% !important
	}
.ex-slide-show-container__layer-wrap--show{
	display:flex;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	justify-content:center;
	align-items:center;
	z-index:2999
	}
.ex-slide-show-container__dimmed{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:#000;
	opacity:.68
	}
.ex-slide-show-container__video-wrap{
	position:relative;
	z-index:3100;
	width:100% !important;
	height:25vw !important
	}
.ex-slide-show-container__video-wrap .video{
	display:none;
	width:100%;
	height:100%
	}
.ex-slide-show-container__btn-video-close{
	width:36px;
	height:36px;
	font-size:0;
	position:absolute;
	top:-50px;
	left:auto !important;
	right:5px
	}
.ex-slide-show-container__btn-video-close--fixed{
	position:absolute;
	top:-50px;
	left:auto !important;
	right:5px
	}
.ex-slide-show-container__btn-video-close svg{
	width:100%;
	height:100%
	}
.ex-slide-show-container__btn-video-close svg path:last-of-type{
	fill:#fff
	}
.ex-slide-show-container .ex-items-slide-card.slick-slide .ex-slide-show-container__btn-video-start{
	z-index:0
	}
.ex-slide-show-container .ex-items-slide-card.slick-slide.slick-current .ex-slide-show-container__btn-video-start{
	z-index:9
	}
.ex-slide-show-container button.slick-prev.slick-arrow{
	position:absolute;
	top:40%;
	Z-INDEX:999;
	width:40px !important;
	height:40px !important;
	border-radius:25px;
	background:rgba(0,0,0,0.5);
	background-position:11px 6px;
	background-image:url("../images/btn-carousel-left.png");
	background-repeat:no-repeat;
	background-size:15px;
	text-indent:-99999px;
	outline:0
	}
.ex-slide-show-container button.slick-next.slick-arrow{
	position:absolute;
	top:40%;
	Z-INDEX:999;
	width:40px !important;
	height:40px !important;
	border-radius:25px;
	background:rgba(0,0,0,0.5);
	background-position:15px 6px;
	background-image:url("../images/btn-carousel-right.png");
	background-repeat:no-repeat;
	background-size:15px;
	text-indent:-9999px;
	outline:0
	}
.ex-slide-show-container .s-has-portrait button.slick-prev.slick-arrow{
	left:430px;
	left:29.86111vw
	}
.ex-slide-show-container .s-has-portrait button.slick-next.slick-arrow{
	right:430px;
	right:29.86111vw
	}
.ex-slide-show-container .s-has-landscape button.slick-prev.slick-arrow{
	left:189px;
	left:13.125vw
	}
.ex-slide-show-container .s-has-landscape button.slick-next.slick-arrow{
	right:189px;
	right:13.125vw
	}
.ex-slide-show-container .s-has-square button.slick-prev.slick-arrow{
	left:355px;
	left:24.65278vw
	}
.ex-slide-show-container .s-has-square button.slick-next.slick-arrow{
	right:355px;
	right:24.65278vw
	}
.ex-slide-show-container .ex-items-slide-card.slick-slide.slick-current{
	justify-content:flex-start
	}
@media(min-width:1440px){
	.ex-slide-show-container .s-has-square button.slick-prev.slick-arrow{
	left:355px
	}
.ex-slide-show-container .s-has-square button.slick-next.slick-arrow{
	right:355px
	}
.ex-slide-show-container .s-has-landscape button.slick-prev.slick-arrow{
	left:189px
	}
.ex-slide-show-container .s-has-landscape button.slick-next.slick-arrow{
	right:189px
	}
.ex-slide-show-container .s-has-portrait button.slick-prev.slick-arrow{
	left:430px
	}
.ex-slide-show-container .s-has-portrait button.slick-next.slick-arrow{
	right:430px
	}

	}
@media screen and (max-width:767px) and (orientation:landscape){
	.ex-slide-show-container__video-wrap{
	width:100% !important;
	height:90vw !important
	}

	}
@media screen and (max-width:767px) and (orientation:portrait){
	.ex-slide-show-container__video-wrap{
	width:100% !important;
	height:36vw !important
	}
.ex-slide-show-container__btn-video-close{
	top:-20px
	}

	}
@media screen and (min-width:768px) and (max-width:1025px){
	.ex-slide-show-container__btn-video-close{
	top:-35px
	}

	}
@media screen and (min-width:1024px) and (max-width:1059px){
	.ex-slide-show-container__video-wrap{
	width:100% !important;
	height:30vw !important
	}

	}
html[lang^="th"] .ex-slide-show-container .ex-slide-show-container__description,html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-list-content{
	font-size:24.3px;
	line-height:.9975
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__content-info{
	font-size:16.2px;
	line-height:.9975
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-wrap{
	font-size:24.3px;
	line-height:1.2
	}
@media only screen and (min-width:768px) and (max-width:1440px){
	html[lang^="th"] .ex-slide-show-container .ex-slide-show-container__description,html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-list-content{
	font-size:1.6875vw
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__content-info{
	font-size:1.125vw
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-wrap{
	font-size:1.6875vw
	}

	}
@media only screen and (max-width:767px){
	html[lang^="th"] .ex-slide-show-container .ex-slide-show-container__description,html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-list-content{
	font-size:6vw;
	line-height:1.2
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__content-info{
	font-size:3.75vw;
	line-height:.9975
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-wrap{
	font-size:4.5vw;
	line-height:1.2
	}

	}
@media only screen and (max-width:360px){
	html[lang^="th"] .ex-slide-show-container .ex-slide-show-container__description,html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-list-content{
	font-size:6vw;
	line-height:1.2
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__content-info{
	font-size:3.75vw;
	line-height:.9975
	}
html[lang^="th"] .ex-slide-show-container .ex-items-slide-card__desc-detail-wrap{
	font-size:4.5vw;
	line-height:1.2
	}

	}