.gb-gnb__bar{
	position:relative;
	background-color:#fff;
	border-bottom:1px solid #dadada
}	
.cm-breadcrumb {
	background-color: #fff
}	

.cm-breadcrumb__inner{
	max-width:1440px;
	padding-left:24px;
	padding-right:24px;
	min-width:320px;
	margin:0 auto;
	background-color:#fff;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}	

.cm-breadcrumb__path{
	max-width:70%;
	padding:0 25px 0;
	padding-left:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-transform:capitalize;
	font-size:0;
	white-space:nowrap;
	text-align:left
}	

.cm-breadcrumb__path li{
	display:inline-block;
	margin-right:5px;
	font-size:12px;
	color:#000;
	text-indent:0;
	line-height:40px;
	vertical-align:bottom
}	

.cm-breadcrumb__path li:first-child span{
	display:inline-block;
	vertical-align:middle
}	

.cm-breadcrumb__path a {
	color: #636363
}	

#navbarforfindstore {
	overflow: hidden;
	background-color: #000;
	padding: 0 24px;
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
}

#navbarforfindstore:before, #navbarforfindstore:after {
	content: '';
	display: block;
	clear: both;
}

#navbarforfindstore a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 34px 0px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

.store-locator #content{position:relative;width:100%;max-width:1440px;margin:0 auto;border-width:0 1px;border-style:solid;border-color:#dadee2}
.store-locator .maps-container{position:static;top:auto;width:100%}
.store-locator .enclosing-reference { position: relative; }
#navbarforfindstore a:after {
	content: '';
	display: block;
	position: absolute;
	left: 5%;
	bottom: 23px;
	width: 20px;
	height: 2px;
	margin-left: -10px;
	background-color: #fff;
}

.sticky {
  position: fixed!important;
  top: 80px;
  width: 100%;
  z-index: 9;
  left: 40px;
}

.modal-content h2 {
	font-size: 28px;
	text-align: left;
}

.store-detail-popup__store-info .store-name {
	text-align: left;
	font-size: 12px;
	margin-top: 10px;
	color: #666;
	text-transform: uppercase;
	font-weight: normal;
}

.store-detail-popup__store-info .directions {
	font-size: 15px;
	margin-top: 10px;
}

.store-locator-title{border-top:1px solid #eee;display:block;padding:12px 20px;font-size:26px;font-weight:bold;color:#4a4a4a;background-color:#fff;height:auto}

.store-locator-desc {display:block;padding:12px 20px;font-size:16px;font-weight:normal;color:#000;border-top: 1px solid #eee;background-color:#fff;height:auto}
.store-locator .store-container{position:absolute;top:20%;left:10px;width:301px;-webkit-transition-timing-function:ease;transition-timing-function:ease;box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;-webkit-transition-property:height;transition-property:height;background:#fff}

@media (min-width: 1440px) {
	.ma-g-c-feature-general__content {
		padding: 76px 118px 80px;
	}
	.ma-g-c-feature-general--text-center .ma-g-c-feature-general__title, .ma-g-c-feature-general--text-center .ma-g-c-feature-general__sub-title {
		padding-right: 118px;
		padding-left: 118px;
	}
	[data-font-size-pc="64"] {
		font-size: 64px;
	}
	.ma-g-c-feature-general__text-area {
		padding-top: 15px;
	}
	[data-font-size-pc="18"] {
		font-size: 18px;
	}
	.ma-g-c-two-column {
		padding: 37px 47px;
	}
	.ma-g-c-two-column__column {
		padding: 0px 46px 0px 47px;
	}
	.ma-g-c-two-column__content {
		padding-top: 38px;
	}
	.ma-g-c-two-column__title h2 {
		font-size: 32px;
	}
	.ma-g-c-two-column__sub-title {
		margin-top: 17px;
	}
	.ma-g-c-two-column__sub-title strong {
		font-size: 20px;
	}
	.ma-g-c-two-column__text {
		margin-top: 35px;
	}
	.ma-g-c-two-column__text p {
		font-size: 18px;
	}
	.ma-g-c-two-column .s-marketing-cta {
		margin-top: 30px;
	}
	.s-marketing-cta .s-btn-base, .s-marketing-cta .s-btn-cta {
		font-size: 14px;
		padding: 12px 38px;
	}
	.store-detail-popup__place {
		text-align: left;
		font-size: 18px;
		font-weight: bold;
	}
	.store-detail-popup__store-info .info-title {
		font-size: 15px;
		margin: 15px 0px 7px;
		font-weight: bold;
	}
	.store-detail-popup__store-info li {
		font-size: 14px;
	}
	.store-detail-popup__store-info .s-link {
		font-size: 14px;
	}
	.store-detail-popup__product-cate {
		margin-top: 40px;
	}
	.store-detail-popup__subtitle {
		font-size: 17px;
		font-weight: bold;
	}
	.store-detail-popup__product-cate-list {
		margin-top: 20px;	
	}
	.store-detail-popup__product-cate .product-cate-title {
		font-size: 15px;
		font-weight: bold;
	}
	.store-detail-popup__product-cate-list ul {
		margin-top: 5px;
	}
	.store-detail-popup__product-cate-list li {
		font-size: 14px;
	}
	.store-detail-popup__service {
		margin-top: 40px;
	}
	.store-detail-popup__subtitle {
		font-size: 17px;
	}
	.store-detail-popup__service-list {
		margin: 0px -16px;
	}
	.store-detail-popup__service-list li {
		padding: 20px 16px 0px;
	}
	.store-detail-popup__service-list li .s-img {
		margin-right: 10px;
		height: 44px;
		width: 44px;
	}
	.store-detail-popup__service-list li .s-text {
		min-height: 44px;
	}
	.store-detail-popup__service-list li .s-text .s-name {
		font-size: 14px;
	}
}

.location_map_of_side iframe { width: 100%; }
.store-detail-popup__service-list li .s-text .s-name{color: #000; display:block;white-space:normal;font-size:14px;font-size:0.97222vw;line-height:1.28}

.store-detail-popup__service-list li .s-text-inner { display: inline-block; white-space: normal; vertical-align: middle; }

.store-detail-popup__service-list li .s-text:before { display: inline-block; vertical-align: middle; content: ''; }

.store-detail-popup__service-list li .s-text { position: relative; top: 10px; display: block; overflow: hidden; vertical-align: top; }

.store-detail-popup__service-list li .s-img img { max-width: 44px; width: 100%; height: auto; }

.store-detail-popup__service-list li .s-img { float: left; vertical-align: top; }

.store-detail-popup__service-list li{display:inline-block;width:33.33%;padding:20px 16px 0px;padding:1.38889vw 1.11111vw 0vw;vertical-align:top;letter-spacing:0;white-space:nowrap;-webkit-box-sizing:border-box;box-sizing:border-box}

.store-detail-popup__subtitle { font-weight: bold; letter-spacing: 0 }

.store-detail-popup__service { overflow: hidden; }

.store-detail-popup__product-cate-list{display:inline-block;width:50%;margin-top:20px;margin-top:1.38889vw;vertical-align:top;letter-spacing:0}

.store-detail-popup__store-info .s-link {
	display: inline-block;
	color: #3e71b4;
	word-break: break-all;
} 

.store-detail-popup__store-info li {
	line-height: 1.43;
}
ul, ol {
	list-style: none;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 700px;
  text-align: left;
  position: relative;
}

.modal, .modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close, .close2 {
  color: #000;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.store-locator-desc p {
	color: #000;
}

.close:hover,
.close:focus, .close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.s-marketing-cta .s-btn-base,.s-marketing-cta .s-btn-cta{display:inline-block;position:relative;padding:12px 38px;padding:0.83333vw 2.63889vw;border:1px solid #000;-webkit-border-radius:45px;border-radius:45px;font-size:14px;font-size:0.97222vw;font-weight:bold;color:#000;text-align:center;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:background,color,border-color;transition-property:background,color,border-color;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out;text-transform:uppercase;line-height:1;letter-spacing:0.15em}

.s-marketing-cta .s-btn-cta { border-color: #000; color: #000 }
.ma-g-c-two-column__sub-title strong{display:inline-block;font-size:20px;font-size:1.38889vw;line-height:1.1;vertical-align:middle;letter-spacing:0}

.ma-g-c-two-column__title h2{display:inline-block;max-width:100%;font-size:32px;font-size:2.22222vw;line-height:1.19;vertical-align:middle;letter-spacing:0}

.ma-g-c-two-column__title{position:relative;font-size:0;letter-spacing:-4px}

.ma-g-c-two-column__column{float:left;width:50%;padding:0px 46px 0px 47px;padding:0vw 3.19444vw 0vw 3.26389vw;-webkit-box-sizing:border-box;box-sizing:border-box}

.s-margin-verywide{margin-top:42px !important}

.ma-g-c-feature-general--bg-white{background:#fff}

.ma-g-c-feature-general{position:relative;max-width:1440px;margin:0 auto;font-size:0;text-align:center;color:#000}

.ma-g-c-feature-general__content{max-width:1440px;padding:76px 118px 80px;padding:5.27778vw 8.19444vw 5.55556vw;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0 auto}

.ma-g-c-feature-general__title { line-height: 1.2; }

.ma-g-c-two-column{max-width:1440px;margin:0 auto;color:#000;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;padding:37px 47px;padding:2.56944vw 3.26389vw}
.ma-g-c-two-column:before, .ma-g-c-two-column:after { content: '';display: block;clear: both; }

@media screen and (max-width: 360px) and (max-width: 768px) {
	.ma-g-c-two-column__column {
		padding: 5vw 5.55556vw;
	}
	.ma-g-c-two-column__content {
		padding-top: 3.88889vw;
	}
}

@media screen and (max-width: 768px) {
	.ma-g-c-two-column__column {
		float: none;
		width: auto;
	}
	.ma-g-c-two-column {
		padding: 0;
	}
	.ma-g-c-two-column__content {
		padding-top: 3.88889vw;
	}
	.ma-g-c-two-column__title h2 {
		font-size: 22px;
	}
	.ma-g-c-two-column__sub-title strong {
		font-size: 16px;
		display: block;
	}
	#navbarforfindstore a:after {
		left: 18%;
	}
	.s-marketing-cta .s-btn-cta {
		margin-top: 20px;
		font-size: 16px;
		padding: 10px 20px;
	}
	.modal-content {
		width: 100%;
	}
	.store-detail-popup__service-list li .s-text .s-name {
		font-size: 12px;
	}
	.store-detail-popup__service-list li {
		width: 40%;
	}
}

@media (max-width: 1024px) {
	.sticky {
		left: 0;
		top: 50px;
	}

}

@media (max-width: 600px) {
	.store-locator .store-container {
		top: 13%;
		width: 265px;
	}
}