@font-face {
	font-family: SamsungSans;
	src: url(SamsungSans-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: SamsungSans;
}

body {
  background-color: #fff;
  color: #fff;
}

.product_item {
	position: relative;
}

ul.thumb, ul.thumb2, ul.thumb3 {
	position: relative;
	top: 40px;
	margin: 0 auto;
	padding: 0;
	float: left;
}

ul.thumb li, ul.thumb2 li, ul.thumb3 li {
	list-style: none;
	margin: 0 10px 20px;
	height: 100%;
	overflow: hidden;
}

ul.thumb li img, ul.thumb2 li img, ul.thumb3 li img {
	width: 50px;
}

.keekee {
	font-size: 14px;
	font-weight: bold;
}

ul.thumb3 li img {
	height: 60px;
}
.imgBox, .imgBox2, .imgBox3 {
	float: left;
	width: 500px;
	height: 500px;
	position: relative;
	left: 100px;
}

.imgBox img, .imgBox2 img, .imgBox3 img {
	width: 100%;
}

.set_btn_storage li {
	padding: 10px 60px!important;
	width: 48%!important;
	display: block!important;
}

.col-md-2-5 {
	flex: 0 0 20%;
	max-width: 20%;
	padding-right: 5px;
	padding-left: 5px;
}
.col-md-2-5:first-child {
	padding-left: 15px;
}
.set_img_payment {
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align: center;
}
.set_img_payment img {
	width: 50px;
	height: 50px;
}

ul, ol {
	list-style: none;
}
.product_item .color_wrap ul{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.set_boom {
	position: relative;
	box-sizing: border-box;
}
.set_boom .color_wrap {
	position: absolute;
	margin-top: 50%;
	padding-left: 48%;
	}

.product_item .color_wrap ul li{
  width: 22px;
  height: 22px;
  background: #000;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.product_item .color_wrap ul li.active{
  width: 30px;
  height: 30px;
}

.product-summary__card.no-border {
	border: none;
}
.product-summary__card{display:table-cell;table-layout:fixed;position:relative;width:50%;padding:0 12px;border-left:1px solid #dadada;text-align:center;vertical-align:middle;-webkit-box-sizing:border-box;box-sizing:border-box;top: -50px;}

.product-summary__card .card__content-area{width:100%;padding:0 12px;-webkit-box-sizing:border-box;box-sizing:border-box}

.set_right_site_title span {
	font-size: 20px;
	padding-left: 40px;
}
.set_right_site_title span:fast-child {
	padding-left: 0;
}

.btn.active {
  background-color: #666;
  color: white;
  display: block;
}

.show {
  display: block!important;
}

.filterDiv {
	display: none;
}

.category_container {
	display: block;
	overflow: hidden;
}

.block_container {
	display: block;

}
.category_item {
	cursor: pointer;
	text-align: center;
	padding: 20px 0;
}

.hide {
	transform: scale(0);
	width: 0;
	height: 0;
	transition: all 0.4s ease-in-out;
}

.box {
	display: none;
}

.box:first-of-type{
	display: block;	
}

.set_btn_color img {
	z-index: -99;
	width: 50px;
}

.set_btn_color li {
	width: 20%!important;
	padding: 1.6vw 1.5vw!important;
}
/*.set_butt_type ul li {
	border: 1px solid #ddd;
	
	padding: 10px 15px;
	cursor: pointer;
	margin: 0 10px 0 0;
	border-radius: 5px;
}*/

/*.set_butt_type ul li:hover, .set_butt_type ul .active {
	display: block;
	background-color: #fff;
	color: #000;
	border: 2px solid blue;
}*/
/*.locationicons {
background-image: url(../images/location-131965017472890605.png);
}*/
.set_deliver_form_input input {
	border:none;
	font-size: 12px;
	outline: none;
	border-right: 1px solid #ddd;
}

.set_deliver_form_input {
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 13px 5px;
}
.set_btn_check {
	font-size: 12px;
	padding-left: 25px;
}
a.set_btn_check, a.set_btn_check:hover {
	color: #000;
	text-decoration: none!important;
}
.set_deliver_form_input img {
	width: 20px;
	height: 20px;
}
.set_butt_type ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.set_butt_type ul li:hover, .set_butt_type ul .active {
	
	border: 2px solid blue;
}
.set_butt_type {
	position: relative;
	box-sizing: border-box;
}
.set_butt_type li {
	width: 30%;
	float: left;
	display: flex;
	height: 2.77778vw;
	padding: 0.48611vw 1.11111vw;
	border-radius: 0.38889vw;
	box-sizing: border-box;
	line-height: 1.08;
	border: 1px solid #ddd;
	cursor: pointer;
	margin-right: 7px;
	align-items: center;
	-webkit-box-align: center;
}

.set_device_title {
	font-size: 22px;
	font-weight: 500;
	margin: 15px 0px;
}

.offer_text {
	margin-top: 30px;
	border-top: 1px solid #ddd;
	padding: 30px 0px;
	position: relative;
	border-bottom: 1px solid #ddd;
}

.set_device_title span {
	text-transform: uppercase;
}
.offer_text span {
	font-size: 13px;
}

.offer_text span a{
	padding-left: 5px;
}
.setoffer_text {
	margin-left: 25px;
	font-weight: normal!important;
}

.offer_text img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.titlesection span{
	font-size: 22px;
	font-weight: 500;
}

.set_star_rating_star .set_font_small {
	font-size: 12px;
}

.titlesection span:first-child {
	padding-left: 0;
}

.reply_icon {
	float: left;
}

.reply_name {
	text-align: left;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
}
.reply_name span {
	position: relative;
	top: 7px;
	left: 7px;
}

.reply_icon img {
	width: 40px;
}


.set_star_rating_review {
	float: left;
}

.comment_date {
	float: right;
}

.box_reply {
	margin-top: 40px;
	text-align: left;
	overflow: hidden;
	position: relative;
	background-color: #f7f7f7;
	border-radius: 5px;
	padding: 30px;
}

.box_reply .official_rep {
	font-weight: bold;
}

.set_bot_border {
	margin-top: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ddd;
}
.set_star_rating_review{
	text-align: left;
}

.comment_review {
	display: block;
	text-align: left;
	margin-top: 20px;
}

.tabcontenttwo:last-child, .tabcontentthree:last-child {
	display: inline;
}

.namaenotypeto span {
	padding-left: 50px;
}
.product-specs{overflow:hidden;position:relative;max-width:1440px;margin:0 auto;background:#f7f7f7;color:#363636}

.product-specs__list{overflow:hidden;margin-left:-1px;text-align:center}

.product-specs__wrap .product-specs__list:before,.product-specs__wrap .product-specs__list:after{content:'';display:block;clear:both}

.product-specs__wrap .product-specs__list.product-specs__list-col2 li:nth-child(2n+1) {clear: both;}

.product-specs__wrap .product-specs__list.product-specs__list-col2 li:nth-child(3n+1){ clear: none; }

.product-specs__wrap .product-specs__list.product-specs__list-col2 li { width: 50%; }

.product-specs__wrap .product-specs__list li {float:left;width:33.33%;padding:50px 0px;padding:3.47222vw 0vw;border-left:1px solid #dadada;-webkit-box-sizing:border-box;box-sizing:border-box}

.product-specs__wrap .product-specs__list .product-specs__spec{display:table;width:100%;height:55px;max-width:330px;max-width:22.91667vw;margin:0 auto}

.product-specs__wrap .product-specs__list .product-specs__spec-title{overflow:hidden;display:table-cell;position:relative;max-width:216px;min-height:62px;min-height:4.30556vw;font-style:normal;line-height:1.16;letter-spacing:-1px;vertical-align:middle;white-space:normal;text-overflow:ellipsis;font-size:24px;font-size:1.66667vw;font-weight:bold}

.product-specs__wrap .product-specs__list .product-specs__desc{display:block;max-width:330px;max-width:22.91667vw;min-height:46px;min-height:3.19444vw;margin:16px auto 0px;margin:1.11111vw auto 0vw;font-size:14px;font-size:0.97222vw;line-height:1.71}

.product-specs__highlights-wrap { position: relative;border-top: 1px solid #dadada; background: #e7e7e8; }

.product-specs__highlights-wrap .product-specs__highlights-list>li:first-child {margin-top: 0}

.product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-title{display:block;position:relative;max-width:28.5%;font-weight:bold;font-style:normal;font-size:20px;font-size:1.38889vw}

.product-specs__highlights-wrap .product-specs__highlights-desc-list:before, .product-specs__highlights-wrap .product-specs__highlights-desc-list:after {content: '';display: block;clear: both;}

.product-specs__highlights-wrap .product-specs__highlights-desc-list li:nth-child(3n+1){ clear: both; }

.product-specs__highlights-wrap .product-specs__highlights-desc-list li {float: left;width: 33.33%;}

.product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-sub-title{display:block;position:relative;width:60%;margin-top:19px;font-weight:bold;font-style:normal;line-height:1.71;font-size:14px;font-size:0.97222vw}

.product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-desc{display:block;width:60%;margin-top:2px;margin-top:0.13889vw;color:#636363;font-size:14px;font-size:0.97222vw;line-height:1.71}

.cm-breadcrumb {background-color: #fff}

.cm-breadcrumb__inner{max-width:1440px;padding-left:24px;padding-right:24px;min-width:320px;margin:0 auto;background-color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box}

.cm-breadcrumb__path{max-width:70%;padding:0 25px 0;padding-left:0;-webkit-box-sizing:border-box;box-sizing:border-box;text-transform:capitalize;font-size:0;white-space:nowrap;text-align:left}

.cm-breadcrumb__path li{display:inline-block;margin-right:5px;font-size:12px;color:#000;text-indent:0;line-height:40px;vertical-align:bottom}

.cm-breadcrumb__path li:first-child span{display:inline-block;vertical-align:middle}

.cm-breadcrumb__path a {color: #636363}

/*.tab li.active {
  border-bottom-width: 3px;
  border-color: #ddd;
}*/

.tab li.tablinktwo.active:after, .tab li.tablinkthree.active:after {
	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 0;
	background: #000;
	content: '';
	height: 3px;

}

.bg-black {
	background-color: #000;
}
.specification_section {
	margin-top: 170px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff!important;
	font-weight: bold;
	text-transform: uppercase;
}
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  transform: translate(0px, 0px) translateZ(0px);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
}

/* Style the buttons inside the tab */
.tab li {

  position: relative;
  display: inline-block;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px;
  font-size: 17px;
}

.tab li.tablinktwo, .tab li.tablinkthree {
	display: block;
	font-weight: bold;
	color: #000;
	height: 31px;
	padding: 0px 17px 0px 18px;
	font-size: 14px;
}

.tab li.tablinktwo:after, .tab li.tablinkthree:after {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

#reviews, #related {
	text-align: center;
}

.related_topics_section .btn-product-underline {
  text-transform:uppercase;margin-top:16px;margin-top:1.11111vw;display:inline-block;position:relative;font-size:12px;font-size:0.83333vw;font-weight:bold;color:#000;letter-spacing:0.075em;line-height:1.08
}

.related_topics_section .btn-product-underline:before {
  bottom: -1px;
}

.set_related_img {
	position: relative;
	height: 302px;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	transition: height,.1s;
}

a.btn-product-underline {
	text-decoration: none!important;
}
.btn-product-underline:before {
content:'';display:block;position:absolute;left:0;right:0;bottom:1px;height:1px;font-size:0;background-color:#000}

.checked {
  color: orange;
}

/* Change background color of buttons on hover */
.tab li:hover {
  outline: none!important;

}

#reviews .set_rating_text {
	font-size: 14px;
	color: #000;
}
#reviews .set_rating_number {
	font-size: 35px;
	color: red;
}

/* Create an active/current tablink class */
.set_star_rating .fa {
	font-size: 20px;
}

.border-set {
	border-left: 1px solid #ddd;
}
.tab li:last-child:after {
	content: "";	
}

.set_mgn_review_top {
	margin-top: 100px;
}

.tabcontent, .tabcontenttwo, .tabcontentthree {
  display: none;
  padding: 6px 12px;
  font-size: 14px;
  border-top: none;
  position: relative;
  top: 5px;
  font-weight: bold;
}

.product_card_btn {
  width: 80%;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  text-align: center;
}

dl, ol, ul {
	margin-bottom: 0!important;
}
.product-card__cta-multi:before, .product-card__cta-multi:after {
  content: '';
  display: block;
  clear: both;
}

.product_card_btn .product_btn_one {
  width: 48.7805%;
  float: left;
  display:block;overflow:hidden;height:40px;height:2.77778vw;padding:7px 16px;padding:0.48611vw 1.11111vw;-webkit-border-radius:20px;border-radius:20px;-webkit-border-radius:1.38889vw;border-radius:1.38889vw;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:12px;font-size:0.83333vw;line-height:1.08;letter-spacing:0.075em;white-space:normal;border: 1px solid #000;font-weight: bold;
}

.product_card_btn .product_btn_one:last-child {
  float: right;
  border-color: #1428a0;
  background: #1428a0;
  color: #fff;
}

.product_btn_one:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.product_btn_one:hover {
	text-decoration: none!important;
}
.product_card_btn .product_btn_one span {
  display: inline-block;
  vertical-align: middle;
}

.animal_item {
	box-sizing: border-box;
	transition: all 0.4s ease-in-out;
}

.gb-gnb__bar{position:relative;background-color:#fff;border-bottom:1px solid #dadada}

@media (min-width: 1200px) {
	.container {
		max-width: 1340px!important;
	}
}

@media (min-width: 1440px) {
	.product-summary__card .card__content-area img {
		height: 58px;
		width: 58px;
	}
	.product-specs__wrap {
		margin-top: 88px;
		overflow: hidden;
	}
	.product-specs__wrap .product-specs__list li {
		padding: 50px 0px;
	}
	.product-specs__wrap .product-specs__list .product-specs__spec {
		max-width: 330px;
	}
	.product-specs__wrap .product-specs__list .product-specs__spec-title {
		font-size: 24px;
		min-height: 62px;
	}
	.product-specs__wrap .product-specs__list .product-specs__desc {
		font-size: 14px;
		margin: 16px auto 0px;
		min-height: 46px;
		max-width: 330px;
	}
	.product-specs__highlights-wrap {
		padding: 82px 143px 50px;
	}
	.product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-title {
		font-size: 20px;
	}
	.product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-sub-title {
		font-size: 14px;
	}
	.product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-sub-title+.product-specs__highlights-desc {
		margin-top: 2px;
		font-size: 14px;
	}
	.product-specs__highlights-wrap .product-specs__highlights-list>li {
		margin-top: 52px;
	}
}

@media (max-width: 600px) {
	.cm-breadcrumb {
		display: none;
	}
	.imgBox, .imgBox2, .imgBox3 {
		width: 100%;
		height: auto;
		left: 0;
		z-index: -99999;
		bottom: 250px;
	}
	.set_boom .color_wrap {
		margin-top: 100%;
		padding-left: 35%;

	}
	.product-summary__card {
		border-left: none;
	}
	.set_butt_type li {
		margin-bottom: 5px;
		height: 77px;
		width: 100%;
		padding: 20px;
	}
	.set_btn_storage li {
		width: 100%!important;
		display: flex!important;
		padding: 20px!important;
	}
	.set_btn_color img {
		width: 100%;
		height: auto;
	}
	.product_card_btn {
		width: 100%;
	}
	.product_card_btn .product_btn_one {
		width: 100%;
		height: 50px;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.product-specs__wrap .product-specs__list.product-specs__list-col2 li {
		width: 100%;
	}
	.product-specs__wrap .product-specs__list .product-specs__spec-title {
		font-size: 18px;
	}
	.product-specs__wrap .product-specs__list .product-specs__desc, .product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-sub-title, .product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-desc {
		font-size: 14px;
	}
	.product-specs__highlights-wrap {
		padding: 20px;
	}
	.product-specs__highlights-wrap .product-specs__highlights-list .product-specs__highlights-title {
		font-size: 18px;
	}
	.product-specs__highlights-wrap .product-specs__highlights-desc-list li {
		width: 100%;
	}
	.product-specs__highlights-wrap .product-specs__highlights-list>li {
		margin-bottom: 15px;
	}
	.related_topics_section .btn-product-underline {
		font-size: 14px;
	}
}

@media (max-width: 767px) {
	.mtn-top {
		margin-top: -100px;
	}
	.col-md-3 {
		width: 50%!important;
	}
	ul.tab {
		overflow: auto;
		white-space: nowrap;
	}
	ul.tab li {
		display: inline-block;
	}
}

@media (max-width: 1024px) {
	.show_in_laptop {
		display: none;
	}
}
@media (min-width: 1025px) {
	.show_in_phone {
		display: none;
	}
}
a {
	text-decoration: none!important;
}
@media (max-width: 1024px) and (min-width: 768px) {
	.col-md-7, .col-md-5 {
		max-width: 100%!important;
		flex: 100%!important;
	}
	.product-summary__card {
		border-left: none;
	}
	.set_butt_type li {
		width: 30%;
		padding: 20px 20px;
	}
		.set_butt_type li {
		height: 5vw;
	}
	.set_btn_color li {
		width: 10%!important;
	}
	.product_card_btn .product_btn_one {
		height: 5vw;
	}
}

@media (min-width: 768px) and (max-width: 1000px) {
	.set_boom .color_wrap {
		margin-top: 54%;
		padding-left: 54%;
	}
}

@media (min-width: 1001px) and (max-width: 1025px) {
	.set_boom .color_wrap {
		margin-top: 41%;
		padding-left: 40%;
	}
}